- name: Read credential file
  ansible.builtin.slurp:
    path: "{{`{{ gcp_cred_file }}`}}"
  register: _cred_file
  when:
    - gcp_cred_kind == "serviceaccount"
    - gcp_cred_file is defined
  no_log: true

- name: Set account file fact
  ansible.builtin.set_fact:
    _account_file: "{{`{{ _cred_file.content | b64decode | from_json }}`}}"
  when:
    - gcp_cred_kind == "serviceaccount"
    - gcp_cred_file is defined
  no_log: true
