- name: Create Active Schedule
  google.cloud.gcp_colab_schedule:
    display_name: "{{`{{ resource_name }}`}}-a"
    state: present
    location: us-central1
    max_concurrent_run_count: 2
    cron: "TZ=America/Los_Angeles * * * * *"
    max_run_count: 5
    create_notebook_execution_job_request:
      notebook_execution_job:
        display_name: "{{`{{ resource_name }}`}}-a"
        gcs_notebook_source:
          uri: "gs://{{`{{ resource_name }}`}}/input/nb_config.json"
        notebook_runtime_template_resource_name: "{{`{{ _myrtt.name }}`}}"
        gcs_output_uri: "gs://{{`{{ resource_name }}`}}/output/"
        service_account: "{{`{{ _account_file.client_email }}`}}"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file }}`}}"
  register: _myschedule

- name: Fetch schedule info
  google.cloud.gcp_colab_schedule_info:
    location: us-central1
    filters:
      - display_name = "{{`{{ resource_name }}`}}-a"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file }}`}}"
  register: _myschedule_info

- name: Run assertions
  ansible.builtin.assert:
    that:
      - _myschedule.changed | bool
      - _myschedule.state == "ACTIVE"
      - _myschedule_info.resources | length >= 1

- name: Wait 2m for Schedule to run
  ansible.builtin.pause:
    seconds: 120

- name: Update Schedule to Paused State
  google.cloud.gcp_colab_schedule:
    display_name: "{{`{{ resource_name }}`}}-a"
    state: present
    location: us-central1
    max_concurrent_run_count: 2
    desired_state: PAUSED
    cron: "TZ=America/Los_Angeles * * * * *"
    max_run_count: 5
    create_notebook_execution_job_request:
      notebook_execution_job:
        display_name: "{{`{{ resource_name }}`}}-a"
        gcs_notebook_source:
          uri: "gs://{{`{{ resource_name }}`}}/input/nb_config.json"
        notebook_runtime_template_resource_name: "{{`{{ _myrtt.name }}`}}"
        gcs_output_uri: "gs://{{`{{ resource_name }}`}}/output/"
        service_account: "{{`{{ _account_file.client_email }}`}}"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file }}`}}"
  register: _myschedule

- name: Run assertions
  ansible.builtin.assert:
    that:
      - _myschedule.changed | bool
      - _myschedule.state == "PAUSED"

- name: Create Paused Schedule
  google.cloud.gcp_colab_schedule:
    display_name: "{{`{{ resource_name }}`}}-p"
    state: present
    location: us-central1
    max_concurrent_run_count: 2
    cron: "TZ=America/Los_Angeles * * * * *"
    max_run_count: 5
    desired_state: PAUSED
    create_notebook_execution_job_request:
      notebook_execution_job:
        display_name: "{{`{{ resource_name }}`}}-p"
        gcs_notebook_source:
          uri: "gs://{{`{{ resource_name }}`}}/input/nb_config.json"
        notebook_runtime_template_resource_name: "{{`{{ _myrtt.name }}`}}"
        gcs_output_uri: "gs://{{`{{ resource_name }}`}}/output/"
        service_account: "{{`{{ _account_file.client_email }}`}}"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file }}`}}"
  register: _myschedule

- name: Run assertions
  ansible.builtin.assert:
    that:
      - _myschedule.changed | bool
      - _myschedule.state == "PAUSED"
