- name: Create Featurestore
  google.cloud.gcp_vertexai_featurestore:
    state: present
    name: "{{`{{ resource_name | regex_replace('-', '_') }}`}}_{{index $.Vars "suffix"}}"
    region: us-central1
    online_serving_config:
        fixed_node_count: 1
    labels:
      env: ci
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file }}`}}"
  register: _myfs
