- name: Create Basic Reasoning Engine
  google.cloud.gcp_vertexai_reasoning_engine:
    state: present
    display_name: basic-reasoning-engine
    description: A Basic Reasoning Engine
    region: us-central1
