- name: Fetch container analysis note info matching createTime
  google.cloud.gcp_containeranalysis_note_info:
    filters:
      - createTime = "{{`{{ _mynote.createTime }}`}}"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file | default(omit) }}`}}"
  register: _mynote_info
  until: _mynote_info.resources | length > 0
  retries: 10
  delay: 2

- name: Run assertions
  ansible.builtin.assert:
    that:
      - _mynote.changed | bool
      - _mynote_info.resources | length > 0

- name: Update container analysis note (noop)
  google.cloud.gcp_containeranalysis_note:
    name: "{{`{{ resource_name }}`}}"
    state: present
    attestation_authority:
      hint:
        human_readable_name: "{{`{{ gcp_integration_email }}`}}"
    short_description: "Integration team"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file | default(omit) }}`}}"
  register: _mynote_noop

- name: Update container analysis note
  google.cloud.gcp_containeranalysis_note:
    name: "{{`{{ resource_name }}`}}"
    state: present
    attestation_authority:
      hint:
        human_readable_name: "{{`{{ gcp_integration_email }}`}}"
    short_description: "Integration team (updated)"
    project: "{{`{{ gcp_project }}`}}"
    auth_kind: "{{`{{ gcp_cred_kind }}`}}"
    service_account_file: "{{`{{ gcp_cred_file | default(omit) }}`}}"
  register: _mynote_updated

- name: Run assertions
  ansible.builtin.assert:
    that:
      - not (_mynote_noop.changed | bool)
      - _mynote_updated.changed | bool
      - _mynote_updated.shortDescription == "Integration team (updated)"
