- name: Trigger manual build with approval needed
  google.cloud.gcp_cloudbuild_trigger:
    name: my-trigger
    state: present
    location: us-central1
    source_to_build:
      uri: https://my-host.com/my-user/my-repo-name.git
      ref: refs/heads/main
      repo_type: UNKNOWN
    git_file_source:
      path: cloudbuild.yaml
      uri: https://my-host.com/my-user/my-repo-name.git
      revision: refs/heads/main
      repo_type: UNKNOWN
    approval_config:
      approval_required: true
